.sign-in {
	width: 30vw;
	display:flex;
	flex-direction: column;

	.title {
		margin: 10px 0;
	}
}

.buttons{
	display: flex;
	justify-content: space-between;
}

.custom-button {
	flex: 1;
}
.left-button {
	margin-right: 1vw;
}

.right-button {
	margin-left: 1vw;
}